body{
	background: #f8f8f8;
	font: 1em Helvetica, Verdana, sans-serif;
}
h3{
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}
.menu{
	font: 20px Helvetica, Arial, Verdana, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu > li {
	display: inline-block;
	margin: 1em;
}
.menu > li > a{
	text-decoration: none;
}

.main .slider > img {
	height: 30em;
}

.brief > p {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.detail_description {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.characteristics > ul > li{
	list-style-type: circle;
    font-variant-caps: petite-caps;
    font-style: italic;
}
.contacts input, .contacts textarea {
	color: #707070;
	font-size: 18px;
	font-style: italic;
    width: 200px;
    border-radius: 7px;
    padding: 4px;
    margin: 0 0 7px 15px;
}
.contacts input {
	height: 20px;
}

.contacts textarea {
	height: 50px;
}
.detail_product > a > img {
	height: 30em;
	border: 2px solid #707070;
    border-radius: 5px;
	
}