body{
	background: #f8f8f8;
	font: 1em Helvetica, Verdana, sans-serif;
}

h2{
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
}

.container {
	max-width: 1000px;
    min-width: 720px;
    margin: 0 auto;
}
.container > header {
	height: 125px;
    position: relative;
}
.container > header > hr {
	clear: both;
}
.logo {
	background: url(img/logo2.png) no-repeat;
	height: 125px;
	position: relative;
	float: left;
    min-width: 225px;
}

.logo > .companyName{
	position: absolute;
    top: 60px;
    left: 35px;
    color: #e5194a;
    font-size: 3em;
    font-weight: bold;
}

.logo > .slogan{
	position: absolute;
    top: 105px;
    left: 21px;
    color: #e5194a;
    font-size: 0.65em;
}

.menu{
	font: 20px Helvetica, Arial, Verdana, sans-serif;
    list-style: none;
    position: absolute;
    right: 10px;
    bottom: 0px;
    margin: 0 0 3px;
}

.menu > li {
	display: inline-block;
	margin: 0 1em;
}

.menu > li > a{
	text-decoration: none;
	/* color:#c11942; */
	/* color:#ca1340;  */
	color: #e5194a;
}

.menu > li:hover > a{
	color: #707070;
}

.container footer {
	height: 35px;
    background: #dedcdcd4;
	position: relative;
}

footer .copyright {
	position: absolute;
    right: 10px;
}

.main .slider > img {
	height: 30em;
}

.brief {
	overflow: hidden;
}

.brief > button {
	border: 1px solid black;
	padding: 10px 15px;
	border-radius: 5px
}

.brief > button:active {
	color: white;
	background-color: #e5194a;
}
.brief > button:hover {
	/* color: #e5194a; */
	background-color: #707070;;
	border: 1px solid #e5194a;
}

.brief > p {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.detail_description {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.detail_product .characteristics {
	clear: both;
}

.detail_product .characteristics > ul > li{
	list-style-type: none;
    font-variant-caps: petite-caps;
    font-style: italic;
    background: url(img/heart.png) no-repeat;
    padding: 0 0 0 15px;
}

.contacts input, .contacts textarea {
	color: #707070;
	font-size: 18px;
	font-style: italic;
    width: 200px;
    border-radius: 7px;
    padding: 4px;
    margin: 0 0 7px 15px;
}

.contacts #email:focus{
	color: #e5194a;
	background-color: #eaeaea;
}

.contacts input {
	height: 20px;
	text-transform: capitalize;
}

.contacts textarea {
	height: 50px;
}

.detail_product p:first-letter {
	color: #e5194a;
	font-size: 2em;
}

.detail_product .mainImg img:hover {
	border-color: transparent;
}

.detail_product .mainImg img {
	height: 30em;
	border: 2px solid #707070;
    border-radius: 5px;
	
}

.detail_product .visualisation {
	float: left;
	margin: 0 20px 20px 0;
}

.detail_product .previews{
	margin: 0;
    padding: 0;
}

.detail_product .previews li{
	list-style-type: none;
	display: inline-block;
}

.detail_product .previews img{
	    width: 7em;
    height: 7em;
    border: 1px solid #707070;
    border-radius: 5px;
}